.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  margin: 10px;
  position: relative; 

  &-img-top {
    width: 100%;
    height: auto;
  }

  &-body {
    padding: 15px;

    .card-title {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .card-text {
      font-size: 1rem;
      margin-bottom: 10px;

      .read-more {
        color: #007bff;
        cursor: pointer;
      }
    }

    .badge {
      display: inline-block;
      padding: 0.5em;
      font-size: 0.75rem;
      margin-bottom: 10px;
    }

    .card-price {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .btn-primary {
      background-color: #6200ea;
      border-color: #6200ea;
      color: #fff;
    }
  }

  &.detail-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 95%;
    
    .card-body {
      flex: 1;
      padding: 20px;
    }
    
    .detail-images {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      opacity: 0.5;
      
      .detail-image {
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .back-button {
      position: absolute;
      top: 10px;
      right: 10px;

      .btn {
        display: flex;
        align-items: center;
        gap: 5px;
      }
    } 

    .detail-add-to-cart {
      margin-top: 20px;
    }
  }
}
