@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin background-text-color($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}

@mixin border {
  border: 1px solid $color-text;
}