@import '@/app/shared/styles/styles.scss';

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  @include background-text-color($secondary-color, $text-color);
  border-bottom: 1px solid $accent-color;
  height: 40px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 128px;
  width: auto;
  object-fit: contain;
}