<div class="search-container">
  <app-search (searchEvent)="handleSearch($event)"></app-search>
</div>

<div class="grid-container">
  <div class="product-container">
    <ng-container *ngIf="filteredProducts$ | async as products">
      <ng-container *ngIf="products.length > 0; else noProductsTemplate">
        <ng-container *ngFor="let product of products; trackBy: trackByProductId">
          <app-card 
            [product]="product" 
            (addToCartEvent)="handleAddToCart(product.id)" 
            (editProductEvent)="handleEditProduct($event)" 
            (deleteProductEvent)="handleDeleteProduct($event)">
          </app-card>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="category-container">
    <app-create-product-button></app-create-product-button>
    <app-menu-search [categories]="categories" (categorySelected)="handleCategorySelection($event)"></app-menu-search> 
  </div>
</div>

<ng-template #noProductsTemplate>
  <div class="no-products">
    No products found matching your search criteria.
  </div>
</ng-template>
