.search-container {
  margin: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); // 12-column grid
  gap: 20px; // gap between columns
}

.category-container {
  grid-column: span 3; // Occupies 3 out of 12 columns
}

.product-container {
  grid-column: span 9; // Occupies 9 out of 12 columns
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.no-products {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #ff0000;
  margin-top: 20px;
}
